
.team{
    margin-top: 20px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 10%;
    width: 90%;
    border-bottom: 30rem;
    box-shadow: 0 2px 20px gray;
    margin-bottom: auto;
   
}

.team-title{
    color:white;
}

.team-container{
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    gap: 2rem;
    justify-content:center;
    margin-left: auto;
    margin-right: auto;
    
    background-color: white;
}


