
.team{
    margin-top: 20px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    
    width: 90%;
    border-bottom: 30rem;
    box-shadow: 0 2px 20px gray;
    margin-bottom: auto;
   
}

.team-title{
    color:white;
}

.team-container{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.team-row{
    padding: 2%;
    margin-left: auto;
    margin-right: auto;
  
}

.team-col{
    
}

