


.mission-container{
    margin-top: 20px;
    background-color: rgb(20, 20, 20);
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    width: 80%;
    box-shadow: 0 2px 20px gray;
    text-align: center;
    
}

.mission-title{
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.mission-text{
    color:white;
    font-size: 18px;
}

.projects{
    
    margin-top: 20px;
    background-color: rgb(20, 20, 20);
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    width: 80%;
    box-shadow: 0 2px 20px gray;
    margin-bottom: 20px;
}

.projects-title{
    
    font-weight: bold;
    color:white;
}

.projects-text{
    font-size: 16px;
    color: white;
}


.projects-container{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

