.body{
    text-align: center;
    background-color: white;
}


.mission-container{
    margin-top: 20px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
    padding: 20px;
    width: 90%;
    box-shadow: 0 2px 20px gray;
}

.mission-title{
    color: white;
}

.mission-text{
    color:white;
    font-size: x-large;
}

.projects{
    margin-top: 20px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 10%;
    width: 90%;
    border-bottom: 30rem;
    box-shadow: 0 2px 20px gray;
    margin-bottom: auto;
}

.projects-title{
    color:white;
}

.projects-text{
    color: white;
}

.projects-text{
    color: white;
    font-size: 20px;
}

.projects-container{
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
    background-color: white;
}

.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 15rem));
    gap: 3rem;
    justify-content:center;
}
