.body{
    text-align: center;
    background-image:url('../images/BackgroundSkulls.png');
    background-color: white;
}


.mission-container{
    margin-top: 20px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
  
    padding: 20px;
    width: 90%;
    box-shadow: 0 2px 20px gray;
}

.mission-title{
    color: white;
}

.mission-text{
    color:white;
    font-size: x-large;
}

.projects{
    margin-top: 20px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    width: 90%;
    border-bottom: 30rem;
    box-shadow: 0 2px 20px gray;
    margin-bottom: auto;
}

.projects-title{
    color:white;
}

.projects-text{
    color: white;
}

.projects-text{
    color: white;
    font-size: 20px;
}

.projects-container{
     width: 95%;
    display: flex;
    flex-direction:column;
    align-items: center;
    
 

    
    margin-left: auto;
    margin-right: auto;
    
    background-color: white;
}

